*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
:root{
    --vermelho: #E85E6F;
    --azul: #54C7E3;
    --amarelo:#FDD960;
}
.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}


.btnPrincipal{
    background-color: var(--azul);
    height: 50px;
    width: 150px;
    border-radius: 24px;

}